.icons-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 1%;
margin-bottom: 1%;
}

.icons-container > a > img {
flex: 1;
width: 7rem;
padding-left: 1rem;
padding-right: 1rem;
}
.carousel-item {
height: 88vh;
background: black;
color: white;
position: relative;
background-position: center;
size: cover;
}
@media (max-width: 450px) {
    .carousel-item {
      /* Set a different height for mobile screens */
      height: 40vh; /* Adjust the height as needed */
    }
}
@media (max-width: 767px) {
    .carousel-item {
      /* Set a different height for mobile screens */
      height: 60vh; /* Adjust the height as needed */
    }
}
.image-aligner {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
}
.text-with-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.0);
}
.image-with-shadow {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
.overlay-image {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background-position: center;
background-size:cover;
opacity: 100%;
}

/* Title stuff */
/* .title-item {
height: 50rem;
background-color: white;
color: white;
position: relative;
background-position: center;
size: cover;
} */

.title-image {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background-position: center;
background-size:cover;
opacity: 100%;
}

.navbar-color {
    background-color: #171717;
}

.jumbo-color {
    background-color: #eeeeee;
}


.lightup-border:hover {
    transform-origin: center; 
    transition: transform 0.3s ease-out;
    transform: scale(1.3); /* Adjust the scale factor as needed */
    /* border: solid 2px red;
    margin: -2px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); */
}

.lightup-title:hover {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.lightup-button:hover {
    transition: transform 0.3s ease-out;
    transform: scale(1.04); /* Adjust the scale factor as needed */
    /* border: solid 2px red;
    margin: -2px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); */
}

.colored-div {
    background-color: #FF5733; /* Use a color value of your choice */
    /* You can also use color names like "red" or "blue" */
    /* or use rgba(255, 87, 51, 0.8) for a color with opacity */
  }

.blur-load {
    background-size: cover;
}

.blurred-img {
    background-image: url(./images/main/two_trees/two_trees-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
